﻿@using System.Globalization
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Demo.Models.PersonalInfo
<div class="panel panel-primary">
  <div class="panel-heading" role="tab">
    <h3 class="panel-title">
      <a role="button" href="#personalInfoPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
        <span class="fa fa-user"></span>
        @Html.Sitecore().DictionaryField("/Demo/Personal Info/Title", "Personal Information")
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </a>
    </h3>
  </div>
  <div id="personalInfoPanel" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <span class="fa fa-user"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @if (!string.IsNullOrWhiteSpace(Model.FullName))
            {
              @Model.FullName
            }
            else if (Model.IsIdentified)
            {
              @Html.Sitecore().DictionaryField("/Demo/Personal Info/Identified User", "You are known")
            }
            else
            {
              @Html.Sitecore().DictionaryField("/Demo/Personal Info/Anonymous User", "You are anonymous")
            }
          </h4>
          <dl>
            @foreach (var property in Model.Properties)
            {
              <dt>@property.Key</dt>
              <dd>@property.Value</dd>
            }
          </dl>
        </div>
        <div class="media-right">
          @if (Model.PhotoUrl != null)
          {
            <img src="@Model.PhotoUrl" width="50"/>
          }
          else if (Model.IsIdentified)
          {
            <span class="fa fa-user-plus icon-lg"></span>
          }
          else
          {
            <span class="fa fa-user-secret icon-lg"></span>
          }
        </div>
      </div>
      @if (Model.Location != null)
      {
        <div class="media">
          <div class="media-left">
            <span class="fa fa-globe"></span>
          </div>
          <div class="media-body ">
            <h4 class="media-title">
              @Html.Sitecore().DictionaryField("/Demo/Referral/Location", "Location")
            </h4>
            <div class="text-nowrap" title="@Model.Location.City, @Model.Location.Country">
              @Model.Location.City, @Model.Location.Country
            </div>
          </div>
        </div>
      }
      @if (Model.Device != null)
      {
        <div class="media">
          <div class="media-left">
            <span class="fa fa-tablet"></span>
          </div>
          <div class="media-body ">
            <h4 class="media-title">
              @Html.Sitecore().DictionaryField("/Demo/Referral/Device", "Device")
            </h4>
            <div class="text-nowrap">
              <dl>
                <dt>@Html.Sitecore().DictionaryField("/Demo/Referral/Device Title", "Device")</dt>
                <dd>@Model.Device.Title</dd>
                <dt>@Html.Sitecore().DictionaryField("/Demo/Referral/Device Browser", "Browser")</dt>
                <dd>@Model.Device.Browser</dd>
              </dl>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
