﻿@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Demo.Models.Referral
<div class="panel panel-primary">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" href="#referralPanel" data-toggle="collapse" class="panel-title collapsed" data-parent="#experiencedata">
        <span class="fa fa-bullhorn"></span>
        @Html.Sitecore().DictionaryField("/Demo/Referral/Title", "Referral")
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </a>
    </h4>
  </div>
  <div id="referralPanel" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <span class="fa fa-sign-in"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @Html.Sitecore().DictionaryField("/Demo/Referral/Referrer", "Referrer")
          </h4>
          @if (string.IsNullOrEmpty(Model.ReferringSite))
          {
            <div class="text-nowrap" title="@Html.Sitecore().Dictionary("/Demo/Referral/Referrer Unknown", "Direct traffic")">
              @Html.Sitecore().DictionaryField("/Demo/Referral/Referrer Unknown", "Direct traffic")
            </div>
          }
          else
          {
            <div class="text-nowrap" title="@Model.ReferringSite">
              @Model.ReferringSite
            </div>
          }
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="fa fa-bullhorn"></span>
        </div>
        <div class="media-body ">
          <h4 class="media-title">
            @Html.Sitecore().DictionaryField("/Demo/Referral/Campaigns", "Campaigns")
            @if (Model.Campaigns.Any())
            {
              <strong class="pull-right">@Model.TotalNoOfCampaigns</strong>
            }
          </h4>
          @if (!Model.Campaigns.Any())
          {
            <div class="alert alert-info small">
              @Html.Sitecore().DictionaryField("/Demo/Referral/No Campaigns", "You have not been associated with any campaigns")
            </div>
          }
          else
          {
            <ol class="list-unstyled">
              @foreach (var campaign in Model.Campaigns)
              {
                <li>
                  <div>
                    <small>
                      @if (campaign.IsActive)
                      {
                        <strong>@Html.Sitecore().DictionaryField("/Demo/Referral/Active Campaign", "Active")</strong>
                      }
                      else
                      {
                        @(campaign.Date?.ToString("dd-MM hh:mm") ?? "")
                      }
                    </small>
                  </div>
                  <div class="text-nowrap" title="@campaign.Title">@campaign.Title</div>
                  <div class="text-nowrap" title="@campaign.Channel"><small>@campaign.Channel</small></div>
                </li>
              }
            </ol>
          }
        </div>
      </div>
    </div>
  </div>
</div>