﻿@using Sitecore.Feature.Accounts
@using Sitecore.Feature.Accounts.Services
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@model Sitecore.Feature.Accounts.Models.LoginInfo
<div class="login-body">
  @Html.ValidationMessage("invalidCredentials", new { @class = "alert alert-danger" }, "div")
  <div class="form-group @Html.ValidationErrorFor(x => x.Email, "has-error")">
    @Html.LabelFor(x => x.Email, new
                                 {
                                   @class = "control-label"
                                 })
    @Html.TextBoxFor(x => x.Email, new
                                   {
                                     @class = "form-control",
                                     id = "popupLoginEmail",
                                     @placeholder = Html.Sitecore().Dictionary("/Accounts/Login/Login E-mail Placeholder", "Enter your e-mail")
                                   })
    @Html.ValidationMessageFor(x => x.Email, "", new
                                                 {
                                                   @class = "help-block"
                                                 }, "p")
  </div>
  <div class="form-group @Html.ValidationErrorFor(x => x.Password, "has-error")">
    @Html.LabelFor(x => x.Password, new
                                    {
                                      @class = "control-label"
                                    })
    @Html.PasswordFor(x => x.Password, new
                                       {
                                         @class = "form-control",
                                         id = "popupLoginPassword",
                                         @placeholder = Html.Sitecore().Dictionary("/Accounts/Login/Login Password Placeholder", "Enter your password")
                                       })
    @Html.ValidationMessageFor(x => x.Password, "", new
                                                    {
                                                      @class = "help-block"
                                                    }, "p")
  </div>
  <button type="button" class="btn btn-block btn-primary" onclick="login('loginModal')">@Html.Sitecore().DictionaryField("/Accounts/Login/Login", "Login")</button>
  <a class="btn btn-block btn-default" href="@AccountsSettingsService.Instance.GetPageLinkOrDefault(Sitecore.Context.Item, Templates.AccountsSettings.Fields.ForgotPasswordPage)">@Html.Sitecore().DictionaryField("/Accounts/Login/Forgot Your Password", "Forgot your password?")</a>
  <a class="btn btn-block btn-default" href="@AccountsSettingsService.Instance.GetPageLinkOrDefault(Sitecore.Context.Item, Templates.AccountsSettings.Fields.RegisterPage)">@Html.Sitecore().DictionaryField("/Accounts/Login/Register", "Register")</a>
</div>