﻿@model Sitecore.Foundation.Indexing.Models.IPageable
@{
  var prevButtonAttributes = "";
  var nextButtonAttributes = "";
  var nextPageUrl = $"{Request.Url.AbsolutePath}?query={Model.Query}&page={Model.Page + 1}";
  if (Model.Page >= Model.TotalPagesCount)
  {
    nextPageUrl = "#";
    nextButtonAttributes = "class=disabled";
  }

  var prevPageUrl = $"{Request.Url.AbsolutePath}?query={Model.Query}&page={Model.Page - 1}";
  if (Model.Page <= 1)
  {
    prevPageUrl = "#";
    prevButtonAttributes = "class=disabled";
  }
}
@Html.Partial("../Search/SearchResults", Model.Results)
@if (Model.TotalResults > 0 && Model.LastPage > Model.FirstPage)
{
  <nav class="text-center">
    <ul class="pagination">
      <li @prevButtonAttributes>
        <a href="@prevPageUrl" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      @for (var i = Model.FirstPage; i <= Model.LastPage; i++)
      {
        if (Model.Page == i)
        {
          <li class="active">
            <a href="@Request.Url.AbsolutePath?query=@Model.Query&page=@i">@i</a>
          </li>
        }
        else
        {
          <li>
            <a href="@Request.Url.AbsolutePath?query=@Model.Query&page=@i">@i</a>
          </li>
        }
      }
      <li @nextButtonAttributes>
        <a href="@nextPageUrl" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
}