﻿@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Search.Models.SearchContext

<div class="container ">
  @{
    // TODO: var totalResults = Model.TotalResults;
    var totalResults = -1;

    if (string.IsNullOrEmpty(Model.Query))
    {
      <h1 class="text-center">
        @Html.Sitecore().DictionaryField("/Search/Header/Title No Search", "Enter the text you want to find on the site:")
      </h1>
    }
    else if (totalResults == 0)
    {
      <h1 class="text-center">
        @string.Format(Html.Sitecore().Dictionary("/Search/Header/Title Without Results", "Your search for '{0}' yielded no results, please rephrase:"), Model.Query, totalResults)
      </h1>
    }
    else
    {
      {
        //TODO: show total number of results when implemented
        <h1 class="text-center">
          @string.Format(Html.Sitecore().Dictionary("/search/header/Title With Results", "Your search for {0} yielded the following results:"), Model.Query, totalResults)
        </h1>
      }
    }
  }

</div>
<div class="container">
  <form action="@Model.SearchResultsUrl" method="GET" class="text-center form-inline">
    <div class="form-group">
      <div class="input-group">
        <input type="text" name="query" placeholder="@Model.SearchBoxTitle" value="@Model.Query" class="form-control" autocomplete="off"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> @Html.Sitecore().DictionaryField("/Search/Header/Search Again", "Search again")</button>
        </span>
      </div>
    </div>
  </form>
</div>