﻿@using System.Web.Mvc.Html
@using Sitecore.Mvc

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Sitecore.Feature.ItemBasket.Models.PublishModel>
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Styles/ItemBasket.css">

    @Html.Sitecore().FormHandler("Publish", "Publish")
    <div class="container">
        <h4>Publishing</h4>
        <div class="form-group">
            <input type="radio" name="IsSmartPublish" id="smart" value="Smart" />
            <label for="smart">Smart publish - publish differences between source and target database.</label>
            <br />
            <input type="radio" name="IsSmartPublish" id="republish" value="Republish" />
            <label for="republish">Republish - publish everything.</label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="IsSubitems" name="IsSubitems" value="Publish subitems" />
            <label for="IsSubitems">Publish subitems</label>
            <br />
            <input type="checkbox" id="IsRelatedItems" name="IsRelatedItems" value="Publish related items" />
            <label for="IsRelatedItems">Publish related items</label>
        </div>

        <h4>Publishing language</h4>
        <div class="form-group">
            @foreach (var item in Model.LanguageCollection)
            {
                @Html.CheckBox("la_" + item.Name, new { value = item.Name })
                <label for=@("la_" + @item.Name)>@item.Name</label>
                <br />
            }
        </div>
        <h4>Publishing Targets</h4>
        <div class="form-group">
            @foreach (var item in Model.PublishingTargets)
            {
                @Html.CheckBox("pb_" + item.Name, new { value = item.Name })
                <label for=@("pb_" + @item.Name)>@item.Name</label>
                <br />
            }
        </div>
        <input type="submit" value="Publish" class="btn btn-primary  pull-right" />
    </div>
}