﻿@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="row">
  <div class="col-sm-6">
    @Html.Sitecore().DynamicPlaceholder("col-wide-1", Model.Rendering.GetUseStaticPlaceholderNames())
  </div>
  <div class="col-sm-6">
    @Html.Sitecore().DynamicPlaceholder("col-wide-2", Model.Rendering.GetUseStaticPlaceholderNames())
  </div>
</div>