﻿@model Sitecore.Feature.ItemBasket.Models.ItemBasketViewModel

<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Styles/ItemBasket.css">

</head>
<body class="header-static">
    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
    {
        @Html.Sitecore().FormHandler("ItemBasket", "Operations")
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    @if (Model.LstBasketItems != null && Model.LstBasketItems.Count > 0)
                {
                        <table class="table table-striped table-hover table-bordered table-fixed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Item Name</th>
                                    <th>Item Path</th>
                                    <th>User Name</th>
                                    <th>Date</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody style="height: 200px; overflow-y: auto; width: 100%;">
                                @foreach (var item in @Model.LstBasketItems)
                                {
                                    <tr>
                                        <td><input type="checkbox" name=@("itemId-" + @item.Item_ID) value="@item.Item_ID" /></td>
                                        <td>@item.Item_Path.Substring(item.Item_Path.LastIndexOf("/", StringComparison.Ordinal) + 1)</td>
                                        <td>@item.Item_Path</td>
                                        <td>@item.Author</td>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>
                                            <a class="btn btn-danger" href="@Url.Action("RemoveItemFromBasket", "ItemBasket", new {itemId = item.Item_ID})">
                                                Remove
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <strong>
                            <p class="text-center">No items added to basket.</p>
                        </strong>
                    }
                </div>
            </div>
            @if (Model.LstBasketItems != null && Model.LstBasketItems.Count > 0)
            {
                <div style="position: fixed; bottom: 10px; right: 40px;">
                    <input type="submit" class="btn btn-primary" name="PublishItems" value="Publish" />
                    <input type="submit" class="btn btn-info" name="ResetLayoutDetails" value="Reset Layout Details" />
                    <input type="submit" class="btn btn-warning" name="MoveItemToRecycleBin" value="Recycle" />
                </div>
            }
        </div>
    }
</body>
</html>